## This code will extract .gz file

In [ ]:
import gzip
import shutil
with gzip.open('extract.csv.gz', 'rb') as f_in:
    with open('calendar.csv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

## This code cuts up csv to 15 chops

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("calendar.csv")
df

In [ ]:
import numpy as np

In [ ]:
df_list=np.array_split(df,15)

In [ ]:
for i in range(15):
    df_list[i].to_csv(f"./calendardata/calendar_{i+1}.csv",index=False)

## code below will reasample data into a single data frame

In [1]:
import os
import glob
import pandas as pd

os.chdir("calendardata")

files = glob.glob('*.csv')

combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
combined_csv

C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()
C:\Users\polska2207\AppData\Local\Temp\ipykernel_12384\4006804175.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_csv = pd.concat([pd.read_csv(file) for file in files ]).reset_index()

,index,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,0,3109,2023-12-12,f,$150.00,NaN,2.0,30.0
1,1,3109,2023-12-13,f,$150.00,NaN,2.0,30.0
2,2,3109,2023-12-14,f,$150.00,NaN,2.0,30.0
3,3,3109,2023-12-15,f,$150.00,NaN,2.0,30.0
4,4,3109,2023-12-16,f,$150.00,NaN,2.0,30.0
...,...,...,...,...,...,...,...,...
27134472,1808960,668720179077058336,2024-04-19,f,$364.00,NaN,1.0,1125.0
27134473,1808961,668720179077058336,2024-04-20,f,$364.00,NaN,1.0,1125.0
27134474,1808962,668720179077058336,2024-04-21,f,$364.00,NaN,1.0,1125.0
27134475,1808963,668720179077058336,2024-04-22,f,$364.00,NaN,1.0,1125.0
27134476,1808964,668720179077058336,2024-04-23,f,$364.00,NaN,1.0,1125.0